*{
    margin: 0px;
    scroll-behavior: smooth;
}

.navbar{ 
   
    height: 12vh;
    display: flex;
   justify-content: flex-end;
   gap: 70px;
   padding-right: 50px;
   align-items: center;
   
  

}

#landingpage{

    display: flex;
    height: 100vh;
    background-image: url("mainimage.png");
    align-items: center;
    color: black;
   background-size: 1100px;
   background-position: -150px 100px;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
   padding-right: 100px;
   padding-left: 550px;
   width: 400px;
   
  
    
}

#aboutcompanioncare{
    background-color: azure;
    height: 100vh;
    background-image: url("aboutus.png");
}

#contact{
    background-color: rgba(255, 255, 255, 0.274);
    height: 100vh;
}

.wmsg1{
    width: 30%;
    font-size: 50px;
}

a{
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(6, 36, 71, 0.966);
    padding: 15px;
    font-weight: bolder;
    background-color: rgb(226, 217, 236);
    z-index: 1;
   
  

}

a {
    text-decoration: none;
    position: relative;
}

a:hover{
    cursor: pointer;
    background-color: bisque;
    transition: 0.5s ease-in-out;
    border-radius: 10px;
    transform: translateY(3px);
   
}






.companyname{
    font-family: 'Cabin', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Yaldevi', sans-serif;
    font-size: 62px;
    position: relative;
    top: 10px;
    left: 20px;
    z-index: 0;
   
}

.companyname:hover{
    cursor: pointer;
}
.companyname::before{
    content: '';
    background-color: black;
    height: 4px;
    width: 0; /* Initially set to 0 */
    position: absolute;
    bottom: 0;
    left: -30px; /* Adjust the left property to start from the left */
    transition: width 0.5s ease-in-out; /* Add transition for a smooth effect */
}

.companyname:hover::before{
    width: 500px; /* Set the desired width */
    cursor: pointer;
}
.companyname::before{
    content: '';
    background-color: black;
    height: 4px;
    width: 0; /* Initially set to 0 */
    position: absolute;
    bottom: 0;
    left: -30px; /* Adjust the left property to start from the left */
    transition: width 0.5s ease-in-out; /* Add transition for a smooth effect */
}

#landingpage:hover::before{
    width: 1330px; /* Set the desired width */
    cursor: pointer;
}

#landingpage::before{
    content: '';
    background-color: black;
    height: 2px;
    width: 0; /* Initially set to 0 */
    position: absolute;
    bottom: 0;
    left: -30px; /* Adjust the left property to start from the left */
    transition: width 0.5s ease-in-out; /* Add transition for a smooth effect */
}

.companyname:hover::before{
    width: 500px; /* Set the desired width */
    cursor: pointer;
}

#landingpage:hover{
    cursor: pointer;
}


.others{
    font-size: 50px;
    position: relative;
    top: 30px;
    left: 40px;
}

.formcontanior{
    
    box-shadow: 0 2px 4px rgba(170, 23, 23, 0.699);
position: relative;
    display: flex;
    flex-direction: column;
   width: 600px;
    gap: 20px;
    top: -80px;
    left: 0px;  
    background-color: rgb(226, 217, 236);
   height: 100vh;
   padding-left:30px;
   padding-right: 30px;



   
}


.maindiv{
    display: flex;
  
   
}


.signinname,.signinpass{
    padding: 15px;
}

.signinbtn{
    box-shadow: 0 2px 4px rgba(170, 23, 23, 0.699);
    max-width: max-content;
    margin: auto;
    padding: 15px;
    background-color: teal;
    color: white;
    border: none;

}

.signinbtn:hover{
    cursor: pointer;
    background-color: rgb(251, 255, 255);
    color: black;
    transition: width 0.6s ease-in-out;
    border-radius: 25px;

}


.signinmsg{
    max-width: max-content;
    margin: auto;
    font-size: 40px;
  font-weight: bolder;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.meettheteamcont{
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 20px;
}


.card{
    display: flex;
    flex-direction: column;
    width: 290px;
    gap: 50px;
    align-items: center;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(170, 23, 23, 0.699);
    


}


.card:hover{
  transform: scale(1.03);
  transition: 0.5s ease-in-out;
  cursor: pointer;

}
.myimg{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
.cardcontainor{
    display: flex;
    gap: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lora', serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}

.name{
    font-family: cursive;
    font-weight: bolder;
    font-size: 20px;
}

.icons{
    display: flex;
    gap: 15px;
}

.icons i{
    font-size: 25px;
}

.teammessage{
    max-width: max-content;
    margin: auto;
    font-size: 90px;
    font-family: 'Dancing Script', cursive;
font-family: 'Lora', serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}

.hi{
    font-family: 'Dancing Script', cursive;
font-family: 'Lora', serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}

.team{
    font-family: 'Ubuntu', sans-serif;

}

.social {
border: none;
}


::-webkit-scrollbar {
    display: none;
}

.aboutcompanioncare{
    display: flex;
}

.cont{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
   
}


.description{
    width: 400px;
    margin-left: auto;
    position: relative;
    left: -150px;
    color: white;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
}

.description:hover{
    color: rgb(157, 210, 210);
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-family: 'Lato', sans-serif;

}

.companion{
    color: black;
}



.cc{
    position: relative;
    left: 350px;
    font-size: 80px;
    color: white;
    font-family: 'Cabin', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Yaldevi', sans-serif;
}



.cc:hover {
    cursor: pointer;
    color: black;
    transition: 0.7s ease-in-out;

}


.newbutton{
    font-family: 'Cabin', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Yaldevi', sans-serif;
    position: relative;
    top: 300px;
    left: 80px;
    padding: 20px;
}


#ExpertConsultation{
    height: 1630px;
    background-color: rgb(232, 229, 227);
    
    padding: 20px;
}

.expertcont{
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 248, 248);
    max-width: 600px;
    gap: 25px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(23, 121, 235, 0.966);
   

}

.expertcont:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.03);
    border-radius: 10px;
    cursor: pointer;
}

.nameanddescription{
    display: flex;
    align-items: center;
    font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Playfair Display', serif;
font-weight: bolder;
gap: 5px;
}

.contact{
    display: flex;
    gap: 30px;
}

.call{
    display: flex;
    gap: 8px;
    align-items: center;
}
.call:hover{
    color: rgb(12, 110, 123);
    cursor: pointer;
}

.email{
    display: flex;
    gap: 8px;
    font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto Slab', serif;
align-items: center;
}

.email:hover{
    color: rgb(12, 110, 123);
    cursor: pointer;
}


.expertsocial{
    display: flex;
    gap: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Slab', serif;
    align-items: center;
}

.phonenumber{
    font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-size: 20px;
font-weight: bolder;
}

.expertimage{
    height: 120px;
    width: 120px;
    border-radius: 100%;
    box-shadow: 0 2px 4px rgba(6, 36, 71, 0.966);

}

.followexpert{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#ExpertConsultation{
    display: flex;
    flex-direction: column;
    gap: 100px;
   
    
}

.ProfessionalSupport{
  align-self: center;
  font-family: 'Playfair Display', serif;
  font-size: 80px;

}

.ProfessionalSupport:hover{
    cursor: pointer;
    color: rgb(254, 173, 66);
    transition: 0.5s ease-in-out;

}
.expertaddress{
    display: flex;
    gap: 8px;
    font-family: 'Cabin', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Yaldevi', sans-serif;
    align-items: center;
}



.expertaddress a{
    border: none;
    padding: 0px;
    background-color: azure;
    box-shadow: none;
    color: black;
}
.address:hover{
cursor: pointer;
text-decoration: underline;
}

.expertaddress a:hover{
   color: black;
   transform: translateY(0px);
}

.allexperts{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 10px;
    justify-content: center;
    
}

.expertname{
    align-self: center;
    font-family: 'Cabin', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Yaldevi', sans-serif;
    font-size: 30px;
}

.expertposition{
    
    font-family: 'Ubuntu', sans-serif;
    align-self: center;
    font-size: 20px;
}

.nameandposition{
    display: flex;
    flex-direction: column;
    gap: -5px;
}

.final{
    display: flex;
    justify-content: center;
}